@RenderPage("~/Components/LoggedIn.cshtml");
@{
    Auth auth = new Auth();
    Wishlists wishlists = new Wishlists(0, Session["Username"].ToString());
    string eventId, wishlistId, userIdPost, username = Session["Username"].ToString();
    int userId = auth.GetUserId(Session["Username"].ToString());
    dynamic joinBoughtWishlists = null;
    int count = 0;

    if (IsPost && Validation.IsValid() && Request.Form["BuyBtn"] != null)
    {
        eventId = Request.Form["EventId"];
        userIdPost = Request.Form["UserId"];
        wishlistId = Request.Form["WishlistId"];
        Events events = new Events(Convert.ToInt32(eventId), username);
        wishlists = new Wishlists(Convert.ToInt32(eventId), Session["Username"].ToString());

        if (events.GetGuest() != null)
        {
            //var selectDuplicate = db.Query("SELECT * FROM Bought " +
            //    "WHERE LoginId = @0 AND WishlistId = @1", auth.GetUserId(username), wishlistId);

            wishlists.BuyItem(Convert.ToInt32(wishlistId));
        }
    }

    if (IsPost && Validation.IsValid() && Request.Form["Remove"] != null)
    {
        userId = auth.GetUserId(Session["Username"].ToString());
        wishlistId = Request.Form["WishlistId"];

        wishlists.ReturnItem(Convert.ToInt32(wishlistId));
    }

    joinBoughtWishlists = wishlists.GetBoughtList();

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body>
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Event name</th>
                    <th scope="col">Gift name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Link</th>
                    <th scope="col">I don't want to buy this gift anymore.</th>
                </tr>
            </thead>
            <tbody>
                @if (joinBoughtWishlists != null)
                {
                    foreach (var row in joinBoughtWishlists)
                    {
                        <tr>
                            <td>@row.EventName</td>
                            <td>@row.Name</td>
                            <td>@row.Description</td>
                            <td>@row.Link</td>
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="WishlistId" value="@row.WishlistId" />
                                    <input name="Remove" class="btn btn-danger btn-block" value="Remove" onclick="validate(@count)" />
                                </form>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function validate(index) {
            var removeBtn = document.getElementsByName("Remove")[index];
            if (removeBtn.value == "Are you sure?") {
                removeBtn.setAttribute("type", "submit");
            }
            if (removeBtn.value == "Remove") {
                removeBtn.value = "Are you sure?";
            }
        }
    </script>
</body>
</html>