@using WebMatrix.Data;
@{

    if (Session["LoggedIn"] == null)
    {
        Response.Redirect("~/login.cshtml");
    }

    Database db = Database.Open("aSpecialDay");
    var selectWishlists = db.Query("SELECT * FROM Wishlists");

    var selectLoginId = db.QueryValue("SELECT Id FROM Login WHERE Username = @0", Session["Username"]);
    var selectEvents = db.Query("SELECT * " +
        "FROM Guests " +
        "FULL OUTER JOIN Events ON Events.Id = Guests.EventId " +
        "WHERE UserId = @0", selectLoginId);


    string url = new Uri(HttpContext.Current.Request.Url.AbsoluteUri).OriginalString;

    //string url = Request.Url.ToString();
    string formattedUrl = null;
    try
    {
        formattedUrl = url.Substring(0, url.LastIndexOf("/"));
    }
    catch
    {
        formattedUrl = url;
    }
    formattedUrl += "/invite.cshtml?Key=";
    db.Close();
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body>
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container-fluid">
        <h1>Your events.</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Time</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">Share link</th>
                    <th scope="col">Guests</th>
                    <th scope="col">Add / Edit Wishlist</th>
                    <th scope="col">Modify Event</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int count = -1;
                    foreach (var row in selectEvents)
                    {

                        if (row.Host)
                        {
                            <tr>
                                <td>@row.Name</td>
                                <td>@row.DateTime</td>
                                <td>@row.Description</td>
                                <td>@row.Location</td>
                                <td>
                                    <input type="hidden" name="key" class="form-control" value="@formattedUrl@row.SecretKey" />
                                    <button name="copy" class="btn btn-light" onclick="copy(@count)">Copy</button>
                                </td>
                                <td><a class="btn btn-light" href="~/guests.cshtml?EventId=@row.Id">View Guests</a></td>
                                <td><a class="btn btn-light" href="~/createWishlist.cshtml?EventId=@row.Id">Add / Edit Wishlist</a></td>
                                <td><a class="btn btn-light" href="~/modifyEvent.cshtml?EventId=@row.Id">Modify this event</a></td>
                            </tr>
                        }
                        count++;
                    }

                    <tr>
                        <td><a href="createEvent.cshtml">Click here to create an event.</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <h1>Events you are invited to.</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Time</th>
                    <th scope="col">Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">View Wishlist</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var row in selectEvents)
                    {
                        if (!row.Host)
                        {
                            <tr>
                                <td>@row.Name</td>
                                <td>@row.DateTime</td>
                                <td>@row.Description</td>
                                <td>@row.Location</td>
                                <td><a class="btn btn-light" href="~/createWishlist.cshtml?EventId=@row.Id">View Wishlist</a></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function copy(index) {

            var hiddenText = document.getElementsByName("key")[index];
            var copyBtn = document.getElementsByName("copy")[index];

            if (hiddenText.type == "hidden") {
                hiddenText.type = "text";
                hiddenText.select();
                document.execCommand("Copy");
                hiddenText.type = "hidden";
                alert("Copied the link");
            }
        }
    </script>
</body>
</html>