@RenderPage("~/Components/LoggedIn.cshtml");
@{
    dynamic result = null;
    string modify = null;
    string userId = null;
    int eventIdGet;

    if (Request.Params["EventId"] != null && int.TryParse(Request.Params["EventId"], out eventIdGet))
    {
        Events events = new Events(eventIdGet, Session["Username"].ToString());
        if (IsPost && Request.Form["Modify"] != null)
        {

            modify = Request.Form["Modify"];
            userId = Request.Form["UserId"];

            events.UpdateGuests(userId);
        }

        result = events.GetGuests();
    }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("~/Components/head.cshtml")
</head>
<body>
    @RenderPage("~/Components/navbar.cshtml")
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Modify Role</th>
                </tr>
            </thead>
            <tbody>
                @if (result != null)
                {
                    foreach (var row in result)
                    {
                        <tr>
                            <td>@row.Username</td>
                            <td>@( @row.Host ? "Host" : "Guest" )</td>
                            <td>
                                <form action="" method="post">
                                    <input type="hidden" name="UserId" value="@row.UserId" />
                                    <input type="submit" class="btn button-light" name="Modify" value="@( @row.Host ? "Make guest" : " Make host" )" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>